#spinner{
    background: url(../images/ajax-loading.gif) 50% 50% no-repeat transparent;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    right: 0;
    top: 0;
    text-indent: -9999px;
    background-color: rgba(255,255,255,0.5);
    z-index: 2000;
}

.loading {
    background: url(../images/ajax-loading-input.gif) 50% 50% no-repeat transparent;
    height: 50px;
    width: 100%;
    padding: 0.5em;
    text-indent: -9999px;
}